- [[Python3 网络爬虫开发实战] 5.1.3-CSV 文件存储](https://cuiqingcai.com/5571.html)

# 写入

### 列表

In [66]:
import csv
import pandas as pd

with open('./数据/data.csv', 'w') as csvfile:
    writer = csv.writer(csvfile)
    # writer = csv.writer(csvfile, delimiter = ' ')
    writer.writerow(['id', 'name', 'age'])
    # writer.writerows([['10001', 'Mike', 20], ['10002', 'Bob', 22], ['10003', 'Jordan', 21]])
    writer.writerow(['10001', 'Mike', 20])
    writer.writerow(['10002', 'Bob', 22])
    writer.writerow(['10003', 'Jordan', 21])

fp = pd.read_csv('./数据/data.csv')
fp.head()

      id    name  age
0  10001    Mike   20
1  10002     Bob   22
2  10003  Jordan   21

### 字典

In [50]:
with open('./数据/data.csv', 'a') as csvfile:
    fieldnames = ['id', 'name', 'age']
    writer = csv.DictWriter(csvfile, fieldnames = fieldnames)
    writer.writeheader()
    writer.writerow({'id':'10004', 'name':'Taozhiyuan', 'age':23})

pd.read_csv('./数据/data.csv').head(10)

      id        name  age
0  10001        Mike   20
1  10002         Bob   22
2  10003      Jordan   21
3     id        name  age
4  10004  Taozhiyuan   23

### 中文 字符编码

In [60]:
import csv

with open('./数据/data.csv', 'a', encoding='utf-8') as csvfile:
    fieldnames = ['id', 'name', 'age']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    # writer.writeheader()
    writer.writerow({'id': '10006', 'name': '陶志远', 'age': 22})
    
pd.read_csv('./数据/data.csv').head(10)

      id    name  age
0  10001    Mike   20
1  10002     Bob   22
2  10003  Jordan   21
3  10006     陶志远   22

# 读取

In [70]:
import csv
import pandas as pd

with open('./数据/data.csv', 'r', encoding = 'utf-8') as csvfile:
    reader = csv.reader(csvfile)
    print(type(reader))
    print(reader, '\n')
    for row in reader:
        print(row)

fp = pd.read_csv('./数据/data.csv')
print(fp)
pd.DataFrame(fp)

<class '_csv.reader'>
<_csv.reader object at 0x000001F71BB3A460>

['id', 'name', 'age']
[]
['10001', 'Mike', '20']
[]
['10002', 'Bob', '22']
[]
['10003', 'Jordan', '21']
[]
      id    name  age
0  10001    Mike   20
1  10002     Bob   22
2  10003  Jordan   21

      id    name  age
0  10001    Mike   20
1  10002     Bob   22
2  10003  Jordan   21